@import url(//db.onlinewebfonts.com/c/2e1c92a96bf780b95914a597b823fc17?family=UniNeueRegular);

:root {
    --border-color: #e0e0e0;
    --primary: #c9151b;
    --primary-secondary: #f5515f;
    --placeholder: #d0d3d6;
    --background: #f5f6f7;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* default style */
* {
    transition: .2s all ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "UniNeueRegular", "Segoe UI", sans-serif !important;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background: var(--background);
    font-size: 14px;
}

.btn-danger {
    background: var(--primary) !important;

}

.btn-style {
    border: none;
    outline: none;
    padding: 7px 21px;
    text-align: center;
    color: var(--white);
    border-radius: 21px;
    text-transform: uppercase;
    font-size: 14px;
}

.btn-style:focus {
    border: none;
    outline: none;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #000000;
}



/***** Navigation  style  *********/
.sticky {
    transition: all 0.20s linear 0s;
    -o-transition: all 0.20s linear 0s;
    -ms-transition: all 0.20s linear 0s;
    -moz-transition: all 0.20s linear 0s;
    -webkit-transition: all 0.20s linear 0s;
    animation-duration: 1s;
    background-color: #fff;
}

.fixed {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
    background: #fff;
}


@media screen and (max-width:767px) {
    .header {
        top: -45px
    }
}

/* Top Nav */
.nav-top {
    background-color: #F7F8FA;
    border: 1px solid #e0e0e0;
    padding: 8px 0px;
    font-size: 14px;
}

.nav-top-icon {
    color: var(--icon-color);
}

/***************** navbar-1 *********************/
.navbar-brand-icon {
    width: 100px;
}

.search-box {
    background-color: white;
    letter-spacing: 0.025em;
    font-weight: 500;
    font-size: 0.875rem;
    height: 41px;
    padding: 0px 17px;
    border: 2px solid var(--primary);
    border-radius: 4px 0px 0px 4px;
    outline: none;
}

.search-box-btn {
    align-items: center;
    background: var(--primary);
    color: rgb(255, 255, 255);
    padding: 5px 29px;
    outline: none;
    border: none;
    font-size: 20px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.search-box-btn:focus {
    outline: none;
    border: none;
}

.search-box:focus {
    background: #F7F8FA;
}

.navbar-1 .nav-link {
    border: 1px dotted #f1f1f1;
    margin: 0 10px;
    border-radius: 50%;
    padding: 4px 7px;
    box-shadow: 0px 0px 2px #efe0e0;
}

.navbar-1 .nav-link:hover {
    border: 1px solid var(--border-color)
}

.navbar-1 {
    background-color: var(--white);
}

.navbar-1 .nav-link {
    border: 1px dotted #f1f1f1;
    margin: 0px 6px;
    border-radius: 50%;
    padding: 5px 7px;
    box-shadow: 0px 0px 2px #efe0e0;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-1 .nav-link {
        margin: 0px 6px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar-1 .navbar-nav {
        margin-left: 65px;
    }
}

@media (min-width: 1200px) {
    .navbar-1 .navbar-nav {
        margin-left: 100px;
    }
}

/************** Navbar 2 ********************/
.navbar.navbar-2 {
    background-color: #333333;
    padding: 0px 0px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
}

.navbar.navbar-2 .btn-style {
    background: transparent;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding-left: 20px;
}

.navbar.navbar-2 .btn-style:focus {
    border: none;
    outline: none;
}

.navbar.navbar-2 .dropdown {
    background-color: var(--primary);
    text-transform: uppercase;
    width: 260px;
    /* padding: 2px 0px ; */
    display: flex;
    align-items: center;
}

.navbar.navbar-2 .dropdown .nav-link {
    font-size: 18px;
}

.navbar.navbar-2 .dropdown span.nav-link {
    color: var(--white) !important;
}

.navbar.navbar-2 .navbar-nav-1 .nav-link {
    font-weight: 600;
}

.navbar.navbar-2 .nav-link {
    color: var(--white) !important;
    font-size: 15px;
    margin-right: 10px;
}

.navbar.navbar-2 .nav-link:hover {
    color: #bdbdbd !important;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    width: 260px;
    border: none !important;
    box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.2), 0 -1px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 50px;
    text-transform: initial;
}

.dropdown-item {
    font-size: 15px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 260px;
}

.dropdown-item:active {
    color: #16181b;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-item:hover {
    background: transparent;
}

.dropdown-item:last-child {
    border-bottom: none;
}

/* *********** Sub Category **************** */
.insert-sub-category {
    position: relative;
}

.sub-category {
    position: absolute;
    background: #fff;
    left: 99%;
    top: 0%;
    display: none;
    width: 100%;
    padding: 0px 8px;
    border: none !important;
    box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.2), 0 -1px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px;
}

.insert-sub-category:hover .sub-category {
    display: block;
}

.sub-category-item {
    display: block;
    border-bottom: 1px solid var(--border-color);
}

/********************* Side Navigation Menu ************************ */
.side-menu-overlay {
    background-color: rgba(85, 85, 85, 0.452);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    height: 100vh;
    display: none;
}

.side-menu {
    background-color: #fff;
    width: 320px;
    height: 100vh;
    overflow: auto;
}

.side-menu::-webkit-scrollbar {
    display: none;
}

.side-menu-top {
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
    box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.2), 0 -1px 5px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    width: inherit;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background: #fff;
}

.times-icon {
    font-size: 25px;
    cursor: pointer;
}

.side-menu-login {
    border: 1px solid var(--border-color);
    margin: 10px;
    border-radius: 5px;
    margin-top: 130px;
}

.side-menu-login .side-menu-img {
    text-align: center;
    padding: 15px 20px;
    border-bottom: 1px solid var(--border-color);
}

.side-menu-login .side-menu-img img {
    width: 30px;
}

.side-menu-login-btn {
    padding: 15px 20px;
}

.side-menu-link {
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.side-menu-link-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

.side-menu-link-item:hover {
    background-color: #F7F8FA;
}

.customer-service {
    display: flex;
    padding: 15px 20px;

}

.customer-service-img {
    width: 30px;
    margin-right: 14px;
}

.customer-service-text span {
    font-size: 14px;
}

.customer-service-text h4 {
    font-size: 18px;
}

.side-menu-links {
    font-size: 14px;
    padding: 15px 20px;
}

.side-menu-links a {
    color: gray;
}

.side-menu-links a:hover {
    color: #222;
}

@media (max-width: 575.98px) {
    .side-menu {
        width: 100%;
    }
}

/* ************ mobile menu **************** */
.moblie-nav-section {
    background: #fff;
    padding: 18px 25px;
}

.mobile-nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.mobile-nav-button {
    background-color: transparent;
    border: none;
}

.mobile-nav-login-link {
    border: 1px solid var(--border-color);
    padding: 7px 7px;
    border-radius: 50%;
    padding-top: 2px;
    display: inline-block;
    margin-top: 6px;
}

button.mobile-nav-button:focus {
    border: none;
    outline: none;
}

.mobile-nav-icon {
    width: 75px;
}

@media (max-width: 575.98px) {
    .moblie-nav-section .search-box-btn {
        padding: 5px 12px;
    }

}

/* *************** Mobile Bottom menu ************************/
.fixed-nav-bottom {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
}
.mobile-bottom-menu{
    background-color: var(--white);
}
.bottom-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-text{
    font-weight: 600;
    font-size: 15px;
    color: #444;
    display: block;
}

.botttom-menu-img{
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 11px;
    margin-top: -40px;
    margin-left: -14px;
}
.bottom-menu-item img{

width: 35px;
}
/* **************** Main Menu ******************************** */

@media (max-width: 575.98px) {
    main {
        margin-top: 150px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    main {
        margin-top: 150px;
    }
}




/****************** carousel *******************/
.carousel {
    border-radius: 15px;
}

.carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-clip: unset;
    border: 0;
    opacity: 1;
    background-color: var(--primary-secondary);
}

.carousel-indicators .active {
    background-color: var(--primary);
    width: 35px;
}

@media (max-width: 575.98px) {
    .carousel-indicators li {
        height: 5px;
        width: 5px;

    }

    .carousel-indicators .active {
        background-color: var(--primary);
        width: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .carousel-indicators li {
        height: 7px;
        width: 7px;

    }

    .carousel-indicators .active {
        background-color: var(--primary);
        width: 20px;
    }
}

/************** Sell Section ***************/
.sell-item {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    padding: 15px;
    height: 100%;
    background-color: var(--white);
}

.sell-item h5 {
    font-size: 16px;
    font-weight: 700;
}

.line-through {
    text-decoration: line-through;
    padding: 0px 7px;
    color: gray;
}

.sell-item p {
    color: gray;
}

.sell-item-img {
    max-width: 180px;
    max-height: 170px;
}


@media (max-width: 575.98px) {
    .sell-item-img {
        max-width: 131px;
        max-height: 129px;
        margin-top: 55px;
    }

    .sell-item h5 {
        font-size: 13px;
        font-weight: 700;
    }
}

/* ********** shop-by-brand-header *************** */

.brand-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin: 40px 0px;
}

.brand-header-sec-btn {
    margin-left: 20px;
}

.shop-by-brand-item {
    height: 100%;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    display: "block";
}

.shop-by-brand-item .figure {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    opacity: 1;
}

.shop-by-brand-item img {
    position: absolute;
}

.shop-by-brand-item-text {
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: pre-wrap;
    width: 100%;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(50, 62, 70);
    line-height: 20px;
    font-weight: 600;

}

@media (max-width: 575.98px) {
    .brand-header .search-box-btn {
        padding: 0px 7px;
        font-size: 19px;

    }

    .search-box {

        height: 40px;
        padding: 0px 6px;
        width: 140px;
    }

    .brand-header-sec-btn {
        margin-left: 5px;
        font-size: 13px;
    }
}


/* ************** Bags and luaggs ******************* */
.product-cart {
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
}

.product-cart-img {
    position: relative;
    background-color: rgb(237, 242, 247);
    height: 100%;
    padding-bottom: 92%;
    opacity: 1;

}

.product-cart-img img {
    transition: all 0.3s linear 0s;
}

.product-cart-img img:hover {
    transform: scale(1.1);
}

.product-cart-text {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: pre-wrap;
    line-height: 18px;
    width: 100%;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 16px;
}

.span-text {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px !important;
    text-align: center;
    display: block;
}

/* **************Footer ************ */
.footer {
    background: rgb(51, 62, 79);
    color: rgb(156, 169, 190);
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 30px;
    font-size: 16px;
    line-height: 25px;
}

.footer-download img {
    width: 120px;
    display: block;
    margin: 15px 0px;
}

.footer-menu a {
    display: block;
    color: rgb(156, 169, 190);
}

.footer-contact span {
    display: block;
}

.footer-get-in-touch a {
    padding: 8px 12px;
    background-color: #1D2531;
    margin: 0px 3px;
    border-radius: 5px;
    padding-bottom: 9px;
}

@media (max-width: 575.98px) {
    .footer{
        padding-bottom: 100px;
    }
    

    }